{% extends 'layout.html' %}
{% load static %}
{% block title %}Home - EStreams{% endblock %}
{% block content %}
<!-- Place your homepage content here. All static resources should use the static tag. Update all image, CSS, and JS references accordingly. -->
<!-- ...existing code... -->
<section class="hero-section animate-on-scroll">
  <div class="hero-container">
    <div class="video-background">
      <video autoplay muted loop playsinline class="hero-video">
      <source src="{% static 'assets/prime_video.mp4' %}" type="video/mp4">

    </video>
    </div>
    <div class="hero-text">
      <p>Stream Smarter, <br><span>Spend Less</span></p>
      <h6>Ready to Grab your Popcorn  and press that play button?</h6>
      </div>
      <div class="email-input">
        <form action="#" method="post">
          <input type="email" placeholder="Email address" required>
          <button type="submit">Subscribe</button>
        </form>
      </div>
  </div>
</section>
<hr>
<!-- // Packages Section -->
<section id="packages-section" class="animate-on-scroll">
  
  <div class="packages">
    <h2 class="animate-on-scroll">Explore Our <span>Packages</span></h2>
    <div class="ezy__featured7-slider">
   
      <section class="ezy__featured7 light position-relative animate-on-scroll">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6 py-md-5">
                  <div  class="ezy__featured7-bg-holder h-100"
                  style="background-image: url(&quot;{% static 'assets/alexander-shatov-UVfvFrp4x4E-unsplash.jpg' %}&quot;);"
                ></div>
                </div>
                <div class="col-md-6 pb-4  position-relative">
                  <div class="ezy__featured7-shape"></div>
                  <div class="p-4 p-lg-5 mb-4">
                    <div class="ezy__featured7-icon mb-4"><i class="fa-solid fa-film"></i></div>
                    <h4 class="ezy__featured7-title fs-4 fw-bold mb-3">Netflix Premium</h4>
                    <p class="ezy__featured7-content mb-0">
                      Netflix Premium offers the highest quality streaming experience, including 4K Ultra HD and HDR (High Dynamic Range).
                       <br>It also allows you to watch content on up to four different devices simultaneously.
                    </p>
                    <h5>Price per Month: 500 KES</h5>
                    <a href="{% url 'plan_payment' %}"><button class="btn btn-success mt-3">Subscribe</button></a>
                  </div>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
          </section>
        <section class="ezy__featured7 light position-relative animate-on-scroll">
          <div class="container">
         
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="row ">
                  <div class="col-md-6 py-md-5">
                    <div
                  class="ezy__featured7-bg-holder h-100"
                    style="background-image: url(&quot;{% static 'assets/boliviainteligente-Z2A8hkOF8ak-unsplash.jpg' %}&quot;);"
                ></div>
                  </div>
                  <div class="col-md-6 pb-4  position-relative ">
                    <div class="ezy__featured7-shape"></div>
                    <div class="p-4 p-lg-5 mb-4"">
                      <div class="ezy__featured7-icon mb-4"><i class="fa-solid fa-film"></i></div>
                      <h4 class="ezy__featured7-title fs-4 fw-bold mb-3">Prime Video</h4>
                      <p class="ezy__featured7-content mb-0">
                        Prime Video is Amazon's streaming service that offers a wide range of movies, TV shows, and original content. <br>
                        It provides access to a vast library of titles, including popular series and films.
                     
                      </p>
                      <h5>Price per Month: 400 KES</h5>
                      <button class="btn btn-success mt-3">Subscribe</button>
                    </div>
        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </section>
          <section class="ezy__featured7 light position-relative animate-on-scroll">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="row ">
                    <div class="col-md-6 py-md-5">
                      <div
                    class="ezy__featured7-bg-holder h-100"
                    style="background-image: url(&quot;{% static 'assets/showmax.png' %}&quot;);"
                  ></div>
                    </div>
                    <div class="col-md-6 pb-4  position-relative ">
                      <div class="ezy__featured7-shape"></div>
                      <div class="p-4 p-lg-5 mb-4 ">
                        <div class="ezy__featured7-icon mb-4"><i class="fa-solid fa-film"></i></div>
                        <h4 class="ezy__featured7-title fs-4 fw-bold mb-3">Showmax</h4>
                        <p class="ezy__featured7-content mb-0">
                          Streaming for Africa <br>
                        Stream or download hit series, movies and more. <br>
                      Plus watch every Premier League match live on mobile.
                       
                        </p>
                        <h5>Price per Month: 850 KES</h5>
                        <button class="btn btn-success mt-3">Subscribe</button>
                      </div>
          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            </section>
        </div>
      </section>
      <hr>
        <!-- Combo Packages -->
        <section class="combo-plan-section animate-on-scroll">
          <div class="header-container">
            <h2 class="animate-on-scroll"><span>Flexible</span> Plan for you</h2>
          </div>
          <div class="combo-container ">
            <div class="combo-plan-card animate-on-scroll">
              <img src="{% static 'assets/JUMBO PLAN (1).png' %}" alt="">
              <h6>Ndovu Plan</h6>
              <p>Get all three streaming services <br>for a discounted price!</p>
              <h4>Price: 1500 KES/month</h4>
              <button class="btn btn-success">Subscribe Now</button>
            </div>
            <div class="combo-plan-card animate-on-scroll">
              <img src="{% static 'assets/JUMBO PLAN (2).png' %}" alt="">
              <h6>CHUI PLAN</h6>
              <p>Netflix and Prime Video <br>for a discounted price!</p>
              <h4>Price: 1200 KES/month</h4>
              <button class="btn btn-success">Subscribe Now</button>
            </div>
      
          </div>

        </section>
        <section class="spotify-section animate-on-scroll">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2>Free <span>Spotify Premium</span></h2>
                <p>Enjoy ad-free music streaming with Spotify Premium. <br> Listen to your favorite songs and playlists without interruptions.</p>
                <p>Once you subscribe to our Ndovu Plan you instantly get Spotify </p>
                <button class="btn btn-success">Subscribe Now</button>
              </div>
              <div class="col-md-6">
                <video autoplay muted loop playsinline>
                  <source src="{% static 'assets/Spotify Motion Graphics [Commercial Ad].mp4' %}" type="video/mp4">
                </video>
               
              </div>
            </div>


          </div>

        </section>
        <section class="payment-option-section animate-on-scroll">
          <div class="container animate-on-scroll">
            <h2><span>Payment</span> Options</h2>
            <p>We accept various payment methods for your convenience:</p>
          <div class="payment-icons animate-on-scroll">
            <ul class="payment-options">
              <a class ="animate-on-scroll" href="https://www.visa.co.ke/"><img src="{% static 'assets/visa_logo.png' %}" alt=""></a>
              <a class ="animate-on-scroll" href="https://www.mastercard.com/"><img src="{% static 'assets/mastercard.png' %}" alt=""></a>
              <a class ="animate-on-scroll"  href="https://www.paypal.com/"><img src="{% static 'assets/paypal.png' %}" alt=""></a>
              <a class ="animate-on-scroll" href="https://www.mpesa.com/"><img src="{% static 'assets/safaricom_mpesa.png' %}" alt=""></a>

            </ul>
          </div>
          </div>
        </section>
  <footer class="footer animate-on-scroll">
    <div class="footer-top">
      <div class="footer-help">
       <a href="{% url 'index' %}"><img src="{% static 'assets/Uprise_logo.jpg' %}" alt="uPRISE_LOGO" class="logo"></a>
        <h3>Need help? We’re always here when you need us.</h3>
      
      </div>

      <div class="footer-links">
        <div class="footer-column">
          <h4>PACKAGES</h4>
          <ul>
            <li><a href="#">NETFLIX</a></li>
            <li><a href="#">PRIME VIDEO</a></li>
            <li><a href="#">SHOWMAX</a></li>
            <li><a href="#">SPOTIFY PREMIUM</a></li>
     
          </ul>
        </div>

        <div class="footer-column">
          <h4>PAGES</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Account</a></li>

          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
<!-- ...existing code... -->
{% endblock %}

        
      
      
      
      
    
     
 

